<!DOCTYPE HTML>
<html>
  <head>
    <title>Smart bracelet of health</title>
    <meta http-equiv="Refresh" content="30" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body onload="initialize()">
      <button onclick="document.location='/'">Back</button>
	    <h1>Health for</h1>
      <br>
      <p class="text1">
        <b>Surname:</b> {{data[1]}}<br>
        <b>Name:</b> {{data[0]}}<br>
        <b>Otchestvo:</b> {{data[2]}}<br>
        <b>Gender:</b> {{data[3]}}<br>
        <b>Age:</b> {{data[4]}}<br>
        <b>Blood:</b> {{data[5]}}<br>
      </p>
      <br>
      <p class = "text2"><b>Пульс:</b></p>
      <div class="round_green">
        <script>
          var circle = document.querySelector("div.round_green");
          if ({{data[6]}}>=100) {
            circle.className = "round_red";
          }
          if ({{data[6]}}<60) {
            circle.className = "round_red";
          }
          if ({{data[6]}}>=60) {
            if ({{data[6]}}<70) {
              circle.className = "round_orange";
            }
          }
          if ({{data[6]}}>90) {
            if ({{data[6]}}<100) {
              circle.className = "round_orange";
            }
          }
        </script>
        {{data[6]}}
      </div>
      <br>
      <br>
      <br>
      <h2 align = "center">Geolocation:</h2>
      <center><button onclick="getLocation()">Show coordinates</button></center>
      <p id="demo"></p>
      <script>
        var x = document.getElementById("demo");
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }
        function showPosition(position) {
          x.innerHTML = "<center><br>Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
        }
      </script>
  </body>
</html>
